**
!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!test/
!test/**
!scripts/
!scripts/**
!deploy/
!deploy/e2e-saas-oauth/
!deploy/e2e-saas-oauth/**
!deploy/k8s/
!deploy/k8s/password-reset/
!deploy/k8s/password-reset/email-templates.yaml
